<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="./planos.component.html" media="screen" />
</head>


<nav class="navbar">
  <h3 class="navbar-brand mb-0 h1" style="font-size: 2rem;">
    <i class="bi bi-coin"></i>
    Banco Bauhaus
  </h3>
</nav>

<div class="box">
<h2> Planos </h2>
<p> Escolha entre um dos planos disponíveis </p>

<form #f="ngForm">
<div class='row' *ngIf="planos">
  <div *ngFor="let plano of planos">
  <div
    class="card"
    name='card'
    [ngClass]="{'is-selected': aplicaCssClicado(plano.tipoConta)}"
    (click)="inputConta(plano)">
    <div class ="card-body">
      <h5 class="card-title">{{ plano.tipoConta }}</h5>
      <label>Cartão</label>
      <p class="card-text">{{ plano.tipoCartao }}</p>
      <label>Custo Mensal</label>
      <p class="card-text">{{ plano.custoMensal }}</p>
    </div>
  </div>
</div>
</div>

</form>

<small *ngIf="!validar()"> Selecione um plano </small>

<button class="confirm" (click)="onSubmit()" [disabled]="!validar()" >abrir uma conta </button>
</div>


