<head>

  <link rel="stylesheet" type="text/css" href="./foto.component.html" media="screen" />
</head>


<nav class="navbar">
  <span class="navbar-brand mb-0 h1">Banco Bauhaus</span>
</nav>

<div class="box">
<h2> Selfie </h2>
<p> Envie uma selfie para validarmos sua identidade! </p>

<form (ngSubmit)="onSubmit()">
  <input
    type="file"
    name="foto"
    [(ngModel)]="foto"
    (change)="inputFoto($event)"
    accept="image/jpg, image/jpeg, image/png" >

  <button type="submit" class="confirm"> abrir uma conta </button>
</form>
</div>
