$primary-color: #222222;
$secondary-color: rgb(161, 0, 81);
$terciary-color: rgba(204, 204, 204, 0.836);
$font-style: Helvetica, sans-seriff;

div.body {
  background-color: rgb(219, 218, 212);
}

div.box {
  display: flex;
  flex-direction: column;
  font-family: $font-style;
  margin: 48px;
  align-items: center;
}

span {
  color: $secondary-color;
  font-size: 8;
}

i{
  font-size: 2rem;
  color: $secondary-color;
}

nav.navbar{
  background-color: $primary-color;
  color:$terciary-color
}

h2 {
  color: $secondary-color;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

button.confirm {
  background-color: $secondary-color;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 8px;
}

button.confirm:disabled  {
  background-color: $primary-color;
  border-radius: 5px;
  border: none;
  color: $terciary-color;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 8px;
  width: 124px;
}

input {
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px 14px;
  width: 100%;
}

mat-toolbar {
  background-color: $primary-color;
}

label {
  font-size: 14px;
}
