<head>

  <link rel="stylesheet" type="text/css" href="./foto.component.html" media="screen" />
</head>


<nav class="navbar">
  <h3 class="navbar-brand mb-0 h1">Banco Bauhaus</h3>
</nav>

<div class="box">
<h2> Selfie </h2>
<p> Envie uma selfie para validarmos sua identidade! </p>

<form (ngSubmit)="onSubmit()">
  <input
    type="file"
    name="foto"
    [(ngModel)]="foto"
    (change)="inputFoto($event)"
    required
    accept="image/jpg, image/jpeg, image/png" >
  <span *ngIf="!foto" > Realize o upload de uma selfie! </span>
  <button type="submit" class="confirm" [disabled]="!foto"> abrir uma conta </button>
</form>
</div>
