
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="./home.component.scss" media="screen" />
</head>


<nav class="navbar">
  <span class="navbar-brand mb-0 h1" style="font-size: 2rem;">
    <i class="bi bi-coin"></i>
    Banco Bauhaus
  </span>
</nav>

<div style="
  background-image: url('../../assets/background1.jpg');
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
">
<div class="box">

<form (ngSubmit)="salvarCpf(cpf)" >

  <h2> Abrir conta </h2>
  <p> Abra sua conta com praticidade, segurança e sem sair de casa! </p>

  <input type="text" class="form-control" name="cpf" placeholder="insira seu cpf" [(ngModel)]="cpf" autofocus />
  <span *ngIf="!validar()" >
    CPF inválido
  </span>
  <button type="submit" class="confirm"> abrir uma conta </button>
</form>
</div>
</div>

<div class='box'>

  <h3> Encontre o produto ideal para você! </h3>
  <p> Veja alguns dos serviços disponíveis para você </p>

  <div class='row' >
    <div
      class="card"
      name='card'>
      <div class ="card-body">
        <i class="bi bi-credit-card"></i>
        <h5 class="card-title">cartão de crédito</h5>
        <p class="card-text">encontre a opção ideal para você</p>
      </div>
    </div>

    <div
      class="card"
      name='card'>
      <div class ="card-body">
        <i class="bi bi-card-checklist"></i>
        <h5 class="card-title">cheque especial</h5>
        <p class="card-text">limite para sua conta corrente</p>
      </div>
    </div>

    <div
      class="card"
      name='card'>
      <div class ="card-body">
        <i class="bi bi-piggy-bank"></i>
        <h5 class="card-title">ad. depositante</h5>
        <p class="card-text">crédito para evitar imprevistos</p>
      </div>
    </div>

    <div
      class="card"
      name='card'>
      <div class ="card-body">
        <i class="bi bi-graph-up-arrow"></i>
        <h5 class="card-title">rendimento aut.</h5>
        <p class="card-text">seu dinheiro rende automaticamente</p>
      </div>
    </div>

    <div
      class="card"
      name='card'>
      <div class ="card-body">
        <i class="bi bi-star"></i>
        <h5 class="card-title">pacote de serviço</h5>
        <p class="card-text">encontre a opção ideal para você</p>
      </div>
    </div>
  </div>
</div>

