/* You can add global styles to this file, and also import other style files */
$primary-color: #F2CF63;
$secondary-color: #49668C;
$terciary-color: #BF5630;
$font-style: Helvetica, sans-seriff;

div.body {
  background-color: rgb(219, 218, 212);
}

div.box {
  display: flex;
  flex-direction: column;
  font-family: $font-style;
  margin: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button.confirm {
  background-color: $secondary-color;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 8px;
  width: 124px;
}

input {
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px 14px;
  width: 100%;
}

mat-toolbar {
  background-color: $primary-color;
}

label {
  font-size: 14px;
}
